<launch>
      <include file="$(find turtlebot_stage)/launch/turtlebot_in_stage.launch">
	      <arg name="map_file"
		      value="$(find whs_navigation)/maps/b5203.yaml"/>
	      <arg name="world_file"
		      value="$(find whs_navigation)/maps/stage/b5203.world"/>
	      <arg name="initial_pose_x" value="14.4"/>
	      <arg name="initial_pose_y" value="12.8"/>
	      <arg name="initial_pose_a" value="0.0"/>
      </include>
</launch>
