<launch>
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
	<include file="$(find kobuki_auto_docking)/launch/minimal.launch"/>
	<include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
		<arg name="map_file"
			value="$(find whs_navigation)/maps/room_09_26_15_56.yaml"/>
		<arg name="initial_pose_x" value="5.0"/>
		<arg name="initial_pose_y" value="10.0"/>
		<arg name="initial_pose_a" value="0.0"/>
	</include>
</launch>
